<h1>Geography Game: Rank by Population</h1>

<p>Turns left: <%= @turns_left %></p>

<%= form_with url: check_order_path, method: :post do %>
  <ul id="sortable-list">
    <% if @countries.present? %>
      <% @countries.each_with_index do |country, index| %>
        <li>
          <%= hidden_field_tag "countries[#{index}]", country.id %>
          <%= country.name %>
        </li>
      <% end %>
    <% else %>
      <li>No countries available</li>
    <% end %>
  </ul>
  <%= hidden_field_tag :turns_left, @turns_left %>
  <%= submit_tag "Submit Order" %>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
